@font-face {
  font-family: "iconfont";

  src: url("@fonts/iconfont.eot?zfo7w8");
  src: url("@fonts/iconfont.eot?zfo7w8#iefix") format("embedded-opentype"),
    url("@fonts/iconfont.ttf?zfo7w8") format("truetype"),
    url("@fonts/iconfont.woff?zfo7w8") format("woff"),
    url("@fonts/iconfont.svg?zfo7w8#iconfont") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "iconfont" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
  content: "\e900";
}
.icon-arrow-down:before {
  content: "\e901";
}
.icon-arrow-left:before {
  content: "\e902";
}
.icon-arrow-right:before {
  content: "\e903";
}
.icon-arrow-up:before {
  content: "\e904";
}
.icon-close:before {
  content: "\e905";
}
.icon-error:before {
  content: "\e906";
}
.icon-info:before {
  content: "\e907";
}
.icon-calendar:before {
  content: "\e908";
}
.icon-camera:before {
  content: "\e909";
}
.icon-comment:before {
  content: "\e90a";
}
.icon-copy:before {
  content: "\e90b";
}
.icon-edit:before {
  content: "\e90c";
}
.icon-emoji:before {
  content: "\e90d";
}
.icon-file:before {
  content: "\e90e";
}
.icon-filter:before {
  content: "\e90f";
}
.icon-graphic:before {
  content: "\e910";
}
.icon-change:before {
  content: "\e911";
}
.icon-more:before {
  content: "\e912";
}
.icon-notifications:before {
  content: "\e913";
}
.icon-password-hide:before {
  content: "\e914";
}
.icon-password-show:before {
  content: "\e915";
}
.icon-check:before {
  content: "\e916";
}
.icon-payments:before {
  content: "\e917";
}
.icon-people:before {
  content: "\e918";
}
.icon-projects:before {
  content: "\e919";
}
.icon-search:before {
  content: "\e91a";
}
.icon-settings:before {
  content: "\e91b";
}
.icon-attach:before {
  content: "\e91c";
}
.icon-bold:before {
  content: "\e91d";
}
.icon-italic:before {
  content: "\e91e";
}
.icon-checkbox:before {
  content: "\e91f";
}
.icon-strikethrough:before {
  content: "\e920";
}
.icon-quotes:before {
  content: "\e921";
}
.icon-color:before {
  content: "\e922";
}
.icon-markered-list:before {
  content: "\e923";
}
.icon-ordered-list:before {
  content: "\e924";
}
.icon-link:before {
  content: "\e925";
}
