@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply font-sans
    font-medium
    text-4xl
    text-gray-900;
  }

  h2 {
    @apply font-sans
    font-medium
    text-2xl
    text-gray-900;
  }

  h3 {
    @apply font-sans
    font-medium
    text-base
    text-gray-900;
  }

  svg {
    @apply fill-gray-500
    transition;
  }
}

@layer components {
  .container {
    @apply max-w-[1920px]
    w-full
    mx-auto
    px-10
    md:px-[15px];
  }

  .text-1 {
    @apply font-sans
    font-normal
    text-xl
    text-gray-900
    md:text-lg;
  }

  .text-2 {
    @apply font-sans
    font-normal
    text-base
    text-gray-900;
  }

  .text-3 {
    @apply font-sans
    font-normal
    text-sm
    text-gray-900;
  }

  .text-4 {
    @apply font-sans
    font-normal
    text-xs
    text-gray-900;
  }

  .text-5 {
    @apply font-sans
    font-normal
    text-2xl
    text-gray-900;
  }

  .text-small {
    @apply font-sans
    font-normal
    text-tiny
    text-gray-900;
  }

  .link-1 {
    @apply w-fit
    h-fit
    font-sans
    font-normal
    text-xl
    text-blue-400
    border-b
    border-dashed
    border-blue-400
    hover:text-blue-700
    hover:border-solid
    transition
    disabled:text-gray-400
    disabled:border-none
    md:text-lg;
  }

  .link-2 {
    @apply w-fit
    h-fit
    font-sans
    font-normal
    text-xs
    text-gray-400
    border-b
    border-dashed
    border-gray-400
    hover:text-blue-700
    hover:border-solid
    hover:border-blue-700
    transition
    disabled:text-gray-400
    disabled:border-none;
  }

  .link-3 {
    @apply w-fit
    h-fit
    font-sans
    font-normal
    text-sm
    text-gray-900
    border-b
    border-dashed
    border-gray-500
    hover:text-blue-700
    hover:border-solid
    hover:border-blue-700
    transition
    disabled:text-gray-400
    disabled:border-none;
  }

  .link-4 {
    @apply w-fit
    h-fit
    font-sans
    font-normal
    text-sm
    text-gray-500
    border-b
    border-dashed
    border-gray-500
    hover:text-blue-700
    hover:border-solid
    hover:border-blue-700
    transition
    disabled:text-gray-400
    disabled:border-none;
  }

  .label {
    @apply font-sans
    font-normal
    text-sm
    text-gray-500;
  }

  .label-star {
    @apply after:content-['*']
    after:text-red-800
    after:ml-1;
  }

  .field {
    @apply w-full
    h-13
    rounded-md
    bg-gray-100
    border
    border-solid
    border-transparent
    pl-5
    pr-12
    font-sans
    font-normal
    text-base
    text-gray-900
    disabled:text-gray-400
    placeholder:text-sm
    hover:border-blue-400
    transition
    focus:outline-none
    focus:border-blue-400
    [&:not(:focus):not(:placeholder-shown)]:invalid:border-red-800;
  }

  .message-invalid {
    @apply font-sans
    font-normal
    text-xs
    text-red-800
    visible;
  }

  .field-password {
    @apply [&:not(:focus):not(:placeholder-shown)]:valid:border-green-600
    pr-12;
  }

  .btn-field {
    @apply h-13
    w-12
    pl-2
    absolute
    bottom-0
    right-0
    z-10
    transition;
  }

  .btn-field > p {
    @apply text-left
    text-xl
    text-gray-500
    leading-0;
  }

  .btn-field:hover > p {
    @apply text-blue-400
    transition;
  }

  .field-search {
    @apply placeholder:text-sm
    placeholder:text-gray-500
    text-sm
    pl-12;
  }

  .upload-photo {
    @apply relative
    overflow-hidden
    w-[166px]
    h-[166px]
    flex
    justify-center
    items-center
    bg-gray-100
    rounded-full
    cursor-pointer
    border
    border-dashed
    border-gray-400
    hover:border-blue-400
    transition;
  }

  .upload-photo-icon {
    @apply absolute
    top-1/2
    -translate-y-1/2
    left-1/2
    -translate-x-1/2
    z-10
    text-[40px]
    text-gray-200
    leading-0
    transition;
  }

  .upload-photo-btn {
    @apply absolute
    -bottom-[10px]
    left-1/2
    -translate-x-1/2
    z-10
    w-5
    h-5
    bg-gray-100
    rounded-full
    opacity-0
    transition;
  }

  .upload-photo:hover .upload-photo-icon {
    @apply text-blue-400
    transition;
  }

  .upload-photo.active {
    @apply border-0;
  }

  .upload-photo.active .upload-photo-icon {
    @apply opacity-0
    text-white;
  }

  .upload-photo.active img {
    @apply transition;
  }

  .upload-photo.active:hover img {
    @apply brightness-75
    transition;
  }

  .upload-photo.active:hover .upload-photo-icon {
    @apply opacity-100;
  }

  .upload-photo.active:hover + .upload-photo-btn,
  .upload-photo-btn:hover {
    @apply opacity-100;
  }

  .upload-file {
    @apply flex
    justify-center
    items-center
    cursor-pointer
    w-full
    h-14
    rounded-md
    border
    border-dashed
    border-gray-400
    font-sans
    font-normal
    text-sm
    text-gray-400
    hover:border-blue-400
    hover:bg-blue-100
    hover:text-blue-400
    transition;
  }

  .status {
    @apply rounded
    font-sans
    font-medium
    text-xs
    px-2.5
    py-[5px]
    hover:text-white
    transition;
  }

  .status-green {
    @apply bg-green-100
    text-green-500
    hover:bg-green-500;
  }

  .status-red {
    @apply bg-red-100
    text-red-500
    hover:bg-red-500;
  }

  .status-orange {
    @apply bg-orange-100
    text-orange-500
    hover:bg-orange-500;
  }

  .status-purple {
    @apply bg-purple-100
    text-purple-500
    hover:bg-purple-500;
  }

  .status-green {
    @apply bg-green-100
    text-green-500
    hover:bg-green-500;
  }

  .status-blue {
    @apply bg-blue-100
    text-blue-500
    hover:bg-blue-500
    rounded-full;
  }

  .status-pink {
    @apply bg-pink-100
    text-pink-500
    hover:bg-pink-500
    rounded-full;
  }

  .status-aqua {
    @apply bg-aqua-100
    text-aqua-500
    hover:bg-aqua-500
    rounded-full;
  }

  .status-light-blue {
    @apply bg-blue-100
    text-gray-900
    hover:text-gray-900
    font-normal
    rounded-full;
  }

  .header {
    @apply w-full
    py-[30px]
    px-10
    border-b-2
    border-solid
    border-gray-100    
    md:px-[15px];
  }

  .register-progress {
    @apply relative
    w-10
    h-10
    rounded-full
    flex
    justify-center
    items-center;
  }

  .register-progress:not(:first-of-type) {
    @apply ml-[106px]
    before:content-['']
    before:block
    before:w-[106px]
    before:h-px
    before:bg-gray-200
    before:absolute
    before:right-full
    before:top-1/2
    before:-z-10;
  }

  .passwords-message {
    @apply w-full
    h-13
    pl-5
    bg-red-100
    rounded-md
    flex
    items-center;
  }

  .passwords-message .icon-error {
    @apply text-red-800
    text-base
    leading-0
    mr-2;
  }

  .passwords-message .icon-check {
    @apply text-green-600
    text-base
    leading-0
    mr-2
    hidden;
  }

  .passwords-message .text-3 {
    @apply text-red-800
    leading-normal;
  }

  .passwords-message.match {
    @apply bg-green-100;
  }

  .passwords-message.match .icon-error {
    @apply hidden;
  }

  .passwords-message.match .icon-check {
    @apply block;
  }

  .passwords-message.match .text-3 {
    @apply text-green-600;
  }

  .dropdown {
    @apply absolute
    top-full
    left-0
    z-10
    w-full
    mt-[5px]
    py-[15px]
    bg-white
    rounded-md
    shadow-dropdown;
  }

  .dropdown li {
    @apply flex
    items-center
    pt-[13px]
    pb-3.5
    px-5
    cursor-pointer
    text-gray-900
    hover:text-blue-400
    hover:bg-gray-100
    transition;
  }

  .btn-service {
    @apply font-sans
    font-normal
    text-xs
    text-gray-900
    select-none

    py-[5px]
    px-2.5
    bg-transparent
    border
    border-solid
    border-gray-200
    rounded-full
    cursor-pointer

    hover:bg-blue-400
    hover:border-transparent
    hover:text-white
    transition;
  }

  .btn-service.selected {
    @apply bg-blue-400
    text-white
    border-transparent;
  }

  .btn-service.chosen {
    @apply bg-blue-100
    border-transparent
    hover:text-gray-900;
  }

  .btn-more {
    @apply px-2
    py-3
    bg-gray-100
    rounded
    transition;
  }

  .btn-more:hover > svg {
    @apply fill-blue-400
    transition;
  }

  .btn-switch {
    @apply w-[42px]
    h-[25px]
    p-px
    bg-gray-100
    rounded-full
    cursor-pointer
    transition-all;
  }

  .btn-switch > span {
    @apply block
    w-[23px]
    h-[23px]
    bg-gray-500
    rounded-full;
  }

  .btn-switch:hover > span {
    @apply bg-blue-400
    ml-auto
    transition-all;
  }

  .btn-edit > svg {
    @apply mr-[5px];
  }

  .btn-edit:hover > svg {
    @apply fill-blue-700;
  }

  .btn-edit:hover > p {
    @apply text-blue-700
    border-solid
    border-blue-700;
  }
}
