@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Regular.woff2") format("woff2"),
    url("../fonts/Rubik-Regular.woff") format("woff"),
    url("../fonts/Rubik-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Medium.woff2") format("woff2"),
    url("../fonts/Rubik-Medium.woff") format("woff"),
    url("../fonts/Rubik-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@layer base {
  h1 {
    @apply font-sans
    font-medium
    text-4xl
    text-gray-900;
  }

  h2 {
    @apply font-sans
    font-medium
    text-2xl
    text-gray-900;
  }

  h3 {
    @apply font-sans
    font-medium
    text-base
    text-gray-900;
  }

  svg {
    @apply fill-gray-500
    hover:fill-blue-400
    transition;
  }
}

@layer components {
  .text-1 {
    @apply font-sans
    font-normal
    text-xl
    text-gray-900
    mobile:text-lg;
  }

  .text-2 {
    @apply font-sans
    font-normal
    text-base
    text-gray-900;
  }

  .text-3 {
    @apply font-sans
    font-normal
    text-sm
    text-gray-900;
  }

  .text-4 {
    @apply font-sans
    font-normal
    text-xs
    text-gray-900;
  }

  .text-5 {
    @apply font-sans
    font-normal
    text-2xl
    text-gray-900;
  }

  .text-small {
    @apply font-sans
    font-normal
    text-tiny
    text-gray-900;
  }

  .btn-primary {
    @apply block
    bg-blue-400
    rounded-md
    font-sans
    font-medium
    text-base
    text-white
    hover:bg-blue-700
    transition
    disabled:bg-gray-200
    disabled:text-gray-500;
  }

  .btn-secondary {
    @apply flex
    justify-center
    items-center

    bg-transparent
    rounded-md
    border
    border-solid
    border-blue-400

    font-sans
    font-medium
    text-base
    text-gray-900

    hover:bg-blue-700
    hover:text-white
    hover:border-transparent
    transition
    disabled:border-gray-200
    disabled:text-gray-400
    disabled:hover:bg-transparent;
  }

  .btn-secondary svg {
    @apply fill-blue-400
    transition
    mr-2;
  }

  .btn-secondary:hover svg {
    @apply fill-white;
  }

  .btn-secondary-2 {
    @apply block
    bg-transparent
    rounded-md
    border
    border-solid
    border-blue-400
    font-sans
    font-medium
    text-xs
    text-gray-900
    hover:bg-blue-700
    hover:text-white
    hover:border-transparent
    transition
    disabled:border-gray-200
    disabled:text-gray-400
    disabled:hover:bg-transparent;
  }

  .btn-add-1 {
    @apply block
    bg-gray-500
    rounded-md
    font-sans
    font-medium
    text-xs
    text-white
    hover:bg-blue-700
    hover:text-white
    transition
    disabled:bg-gray-200
    disabled:text-gray-500;
  }

  .btn-add-2 {
    @apply block
    bg-blue-400
    rounded-l-md
    font-sans
    font-medium
    text-base
    text-white
    hover:bg-blue-700
    transition;
  }

  .btn-arrow {
    @apply flex
    justify-center
    items-center
    bg-blue-400
    rounded-r-md
    hover:bg-blue-700
    transition;
  }

  .btn-arrow svg {
    @apply fill-white;
  }

  .btn-plus {
    @apply relative
    w-5
    h-5
    bg-gray-100
    rounded-full

    before:content-['']
    before:block
    before:w-2
    before:h-0.5
    before:bg-gray-900
    before:absolute
    before:top-[9px]
    before:left-1.5
    
    after:content-['']
    after:block
    after:w-0.5
    after:h-2
    after:bg-gray-900
    after:absolute
    after:top-1.5
    after:left-[9px]
    
    hover:bg-blue-700
    hover:before:bg-white
    hover:after:bg-white
    transition
    
    disabled:bg-gray-200
    disabled:before:bg-gray-500
    disabled:after:bg-gray-500;
  }

  .btn-plus-dropdown {
    @apply max-w-[227px]
    w-full
    rounded-md
    bg-white
    shadow-dropdown;
  }

  .btn-plus-dropdown li {
    @apply py-2
    px-2.5;
  }

  .btn-plus-dropdown a {
    @apply block
    rounded-md
    font-sans
    font-normal
    text-xs
    text-black
    py-2
    px-4
    hover:text-blue-400
    hover:bg-gray-100
    transition;
  }

  .btn-view-wrapper {
    @apply w-fit
    flex
    justify-center
    items-center
    border
    border-solid
    border-gray-500
    rounded-lg;
  }

  .btn-view {
    @apply w-[180px]
    h-13
    flex
    justify-center
    items-center
    gap-x-3.5
    font-sans
    font-normal
    text-sm
    text-gray-500
    outline-1
    outline
    outline-transparent
    rounded-md
    transition
    hover:text-blue-400;
  }

  .btn-view:hover svg {
    @apply fill-blue-400
    transition;
  }

  .btn-view.active svg {
    @apply fill-white;
  }

  .btn-view.active {
    @apply bg-blue-400
    text-white
    outline-blue-400;
  }

  .link-1 {
    @apply h-fit
    font-sans
    font-normal
    text-xl
    text-blue-400
    border-b
    border-dashed
    border-blue-400
    hover:text-blue-700
    hover:border-solid
    transition
    disabled:text-gray-400
    disabled:border-none
    mobile:text-lg;
  }

  .link-2 {
    @apply h-fit
    font-sans
    font-normal
    text-xs
    text-gray-400
    border-b
    border-dashed
    border-gray-400
    hover:text-blue-700
    hover:border-solid
    hover:border-blue-700
    transition
    disabled:text-gray-400
    disabled:border-none;
  }

  .link-3 {
    @apply h-fit
    font-sans
    font-normal
    text-sm
    text-gray-900
    border-b
    border-dashed
    border-gray-500
    hover:text-blue-700
    hover:border-solid
    hover:border-blue-700
    transition
    disabled:text-gray-400
    disabled:border-none;
  }

  .link-4 {
    @apply h-fit
    font-sans
    font-normal
    text-sm
    text-gray-500
    border-b
    border-dashed
    border-gray-500
    hover:text-blue-700
    hover:border-solid
    hover:border-blue-700
    transition
    disabled:text-gray-400
    disabled:border-none;
  }

  .label {
    @apply font-sans
    font-normal
    text-sm
    text-gray-500;
  }

  .label-star {
    @apply after:content-['*']
    after:text-red-800
    after:ml-1;
  }

  .field {
    @apply
    h-13
    mt-2.5
    rounded-md
    bg-gray-100
    border
    border-solid
    border-transparent
    pl-5
    pr-5
    font-sans
    font-normal
    text-base
    text-gray-900
    disabled:text-gray-400
    hover:border-blue-400
    transition
    focus:outline-none
    focus:border-blue-400
    [&:not(:focus):not(:placeholder-shown)]:invalid:border-red-800;
  }

  .message-invalid {
    @apply font-sans
    font-normal
    text-xs
    text-red-800
    visible;
  }

  .field-password {
    @apply [&:not(:focus):not(:placeholder-shown)]:valid:border-green-600
    pr-12;
  }

  .btn-password {
    @apply h-13
    w-12
    pl-2
    absolute
    bottom-0
    right-0
    z-10;
  }

  .btn-password:hover svg {
    @apply fill-blue-400;
  }

  .field-search {
    @apply placeholder:text-sm
    placeholder:text-gray-500
    text-sm
    pl-12
    bg-[url('src/img/icons/search.svg')]
    bg-no-repeat
    bg-left-5.5;
  }

  .status {
    @apply h-6
    rounded
    font-sans
    font-medium
    text-xs
    pl-2.5
    pr-2.5
    hover:text-white
    transition;
  }

  .status-green {
    @apply bg-green-100
    text-green-500
    hover:bg-green-500;
  }

  .status-red {
    @apply bg-red-100
    text-red-500
    hover:bg-red-500;
  }

  .status-orange {
    @apply bg-orange-100
    text-orange-500
    hover:bg-orange-500;
  }

  .status-purple {
    @apply bg-purple-100
    text-purple-500
    hover:bg-purple-500;
  }

  .status-green {
    @apply bg-green-100
    text-green-500
    hover:bg-green-500;
  }

  .status-blue {
    @apply bg-blue-100
    text-blue-500
    hover:bg-blue-500
    rounded-full;
  }

  .status-pink {
    @apply bg-pink-100
    text-pink-500
    hover:bg-pink-500
    rounded-full;
  }

  .status-aqua {
    @apply bg-aqua-100
    text-aqua-500
    hover:bg-aqua-500
    rounded-full;
  }

  .header {
    @apply w-full
    py-[30px]
    px-10
    border-b-2
    border-solid
    border-gray-100    
    mobile:px-[15px];
  }
}
